*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins',sans-serif;
    background: whitesmoke;
    overflow-x: hidden;
}

/* ---------------- NAV ---------------- */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    position: relative;
    z-index: 2;
}

.left-nav h1 {
    font-size: 2rem;
}

.right-nav {
    display: flex;
    gap: 1rem;
}

.right-nav button {
    border: none;
    border-radius: 18px;
    padding: .9rem 1.5rem;
    background: rgba(49,133,252,.6);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.25s;
}


.right-nav button:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

/* ---------------- HERO ---------------- */
.hero {
    position: relative;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 850px;
    text-align: center;
    padding: 2rem;
}
.hero-content h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.shorter {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 3rem;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.hero-buttons button {
    border: none;
    border-radius: 18px;
    padding: 1rem 2rem;
    background: rgba(49,133,252,.75);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.25s;
}

.hero-buttons button:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.problem {
    min-height: 100vh;
}